.galaxy {
  width: 100vw;
  height: 100vh;
  background-image: url(galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#ufo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate();
  width: 300px;
  height: 300px;
}
